.pokemon-sprite {
    /* cursor: pointer; */
    transition: 100ms;
    width: 20vw;
    /* height: 10vh; */
}

.hasBackSprite {
    cursor: pointer;
}

.pokemon-shiny {
    cursor: pointer;
}

.flex {
    display: flex;
}

.alignItemsStart {
    align-items: flex-start;
}

.justifyContentCenter {
    justify-content: center;
}

.goldenrod {
    color: #ffc40c;
}
